<% provide(:title, 'About') %>

<b><h1>About Us</h1></b>
<p>Created in 2014, Foodiphile is website designed to let the homecook share recipes, photos, restaurant reviews, and anything else food related with each other. Enjoy!</p>

<p><a href=https://www.facebook.com/davis.mackenzie.e>Click here to go to the Home page</a></p>

